{% include 'partials/header.html' %}
    <a href="/todos"><< Go Back</a>
    <br>
    <h1>{{ todo.title }}</h1>
    <p>{{ todo.text }}</p>
    <br>
    Created on {{ todo.created_at }}
{% include 'partials/footer.html' %}
